
##### begin LyX #####
# Ignore LyX backup and autosave files
# http://www.lyx.org/
*.lyx~
*.lyx#
##### end LyX #####
##### begin Vim #####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
##### end Vim #####
